@model IdentityUser

<h2>User Details</h2>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay về</a>
