@model IEnumerable<IdentityUser>

<h2>Users</h2>
<p>
    <partial name="Btn-Create" />
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model ?? Enumerable.Empty<IdentityUser>())
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td><partial name="IndexBtn" model="user" /></td>
            </tr>
        }
    </tbody>
</table>

