<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a> | 
<a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Xem</a> | 
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xoá</a>