@model Student

<h1>Chỉnh sửa học sinh</h1>

<hr />

<partial name="_ErrorBag" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="GioiTinh" class="control-label"></label>
                <select asp-for="GioiTinh" class="form-control">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="LopHoc" class="control-label"></label>
                <input asp-for="LopHoc" class="form-control" />
                <span asp-validation-for="LopHoc" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="DiemTrungBinh" class="control-label"></label>
                <input asp-for="DiemTrungBinh" readonly class="form-control" />
            </div>

            
            <div>
                Password
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <button type="button" class="btn btn-warning" id="resetPasswordButton">Reset Password to Default</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <partial name="Btn-Back" />
            </div>

        </form>
        <form id="resetPasswordForm" asp-action="ResetPassword" method="post" style="display:none;">
            <input type="hidden" name="id" value="@Model.Id" />
        </form>
    </div>
</div>
    
</div>
@section Scripts {
    <script>
        document.getElementById("resetPasswordButton").addEventListener("click", function () {
            if (confirm("Are you sure you want to reset the password to the default value?")) {
                document.getElementById("resetPasswordForm").submit();
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}