@model Faculty

<h1>Thông tin chi tiết</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="padding-bottom:10px">Tên khoa</dt>
        <dd class="col-sm-10">@Model?.Ten</dd>

        <dt class="col-sm-2" style="padding-bottom:10px">Mô tả</dt>
        <dd class="col-sm-10">@Model?.MoTa</dd>
    </dl>
</div>

<div>
    <partial name="Btn-Edit" model="@Model" /> | 
    <partial name="Btn-Back" />
</div>