@model FacultiesListViewModel
<p>
    <a asp-action="Create">Thêm khoa mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tên khoa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Faculties ?? Enumerable.Empty<Faculty>())
        {
            <tr>
                <td>@item.Ten</td>
                <td><partial name="RUDBtn" model="item" /></td>
            </tr>
        }
    </tbody>
</table>
<partial name="PagingBtn" />
