@model Teacher

<h1>Thông tin chi tiết Giáo Viên</h1>

<div>
    <h4>@Model?.HoTen</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">Giới tính</dt>
        <dd class="col-sm-10">@Model?.GioiTinh</dd>

        <dt class="col-sm-2">Ngày sinh</dt>
        <dd class="col-sm-10">@Model?.NgaySinh</dd>

        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">@Model?.DiaChi</dd>


    </dl>
</div>

<div>
    <partial name="Btn-Edit" model="@Model" /> |
    <partial name="Btn-Back" />
</div>