@model TeachersListViewModel
<h2>Danh sách giáo viên</h2>
<p>
    <partial name="Btn-Create" />
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Teachers ?? Enumerable.Empty<Teacher>())
        {
            <tr>
                <td>
                    @item.HoTen
                </td>
                <td>
                    @item.GioiTinh
                </td>
                <td>
                    @item.NgaySinh.ToShortDateString()
                </td>
                <td>
                    <partial name="IndexBtn" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="PagingBtn" />
